/* Importar vars */
@import url(vars.css);

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroud);
}

h1,p{
  /* Centrar texto */
  text-align: center;
}

.roundBorder {
  /* Borde redondeado para los divs mediante una clase */
  border-radius: 5px;
}

.list {
  margin: 10vh auto;
  padding: 25px;
  background-color: var(--light);
  width: 100%;
  /* Definir un tamaño maximo */
  max-width: 350px;
}

form{
  /* Agregar flexbox para evitar márgenes para el input y buttom */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

input {
  width: 35vh;
  height: 35px;
  border: none;
  background-color: var(--backgroud);
  padding-left: 10px;
}

.addTaskButton{
  width: 15vh;
  height: 35px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
}

.task {
  background-color: var(--secondary);
  padding: 15px;
  margin-top: 15px;
  color: var(--light);
  cursor: pointer;
  
  /*Agregar Flexbox para que el DeleteButton y la tarea (texto) se vaya a los extremos*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.done {
  /*Estilos que servirá a que el estado de la tarea cambie junto con la funcion que se declaro en JavaScript */
  
  /*Se cambiará a color verde cuando la tarea ya este realizada y se tachará*/
  background-color: var(--primary);
  text-decoration: line-through;
  color: var(--dark); /*Color de tachado porque por defecto viene con el color de la letra (en este caso es blanca y no se distinguirá)*/
}

/*Estilos de Botón de "Eliminar Tarea"*/
.btn-delete {
  border: none;
  color: #ffffff;
  background-color: #0201011c;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  width: 30px;
  font-size: 20px;
  border-radius: 5px;
}

/*Cuando el cursor esté en el botón se tendrá que mostrar con menos transparencia*/
.btn-delete:hover {
  cursor: pointer;
  background-color: #0000007e;
}